# Experiment configs
*.hjson
!lock_*_test.hjson

# Testbench Inputs
*.tf

# HDL Generation Outputs
# Rust
debug/
target/
Cargo.*
!Cargo.toml

# Compiler Ouputs
*.a
*.d
*.o
*.pyc
*.txt
!packages.txt
!requirements.txt
*bin/
*bin.*/

# Verilator Ouputs
*build/
*logs/

# Simulation Files
*.xml
*.vcd
*.dat
*.json

# Fuzzer Outputs
*data/

# Plots
*.pdf
!experiments/plots/pdf/*.pdf

# Allow tracking experiment config files
!circuits/double_counter/configs/*.json

# MacOS Dir Files
*.DS_Store
