# Experiment configs
*.hjson
!lock_example.hjson

# Testbench Inputs
*.tf

# HDL Generation Outputs
# Rust
debug/
target/
Cargo.lock

# Compiler Ouputs
*.a
*.d
*.o
*.pyc
*.txt
*bin/
*bin.*/

# Verilator Ouputs
*model/
*logs/

# Simulation Files
*.vcd
*.dat
*.json

# Fuzzer Outputs
*data/

# Plots
*.pdf
!experiments/plots/pdf/*.pdf

# Allow tracking experiment config files
!circuits/double_counter/configs/*.json

# MacOS Dir Files
*.DS_Store
